<%- include('partials/header') %>

  <div class="container mt-5">
    <h1>Invalid Credentials</h1>
    <p>Invalid email or password. Please try again.</p>
  </div>

  <%- include('partials/footer') %>